<!DOCTYPE html>
<html lang="en" class="no-js">
  <head itemscope itemtype="https://schema.org/Website">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Refresh" content="180">
    #if $Extras.has_key('cwop')
    <meta name="description" content="Monthly Weather Summary for $station.location Weather Station ($Extras.cwop). This web site is powered by WeeWX">
    #else
    <meta name="description" content="Monthly Weather Summary for $station.location Weather Station. This web site is powered by WeeWX">
    #end if
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.webmanifest" crossorigin="use-credentials">
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    #if $Extras.has_key('web_url')
    <link href="$Extras.web_url/month.html" itemprop="url"/>
    #end if
    <title itemprop="name">$station.location Monthly Weather Summary</title>
    <!-- Open Graph -->
    <meta property="og:site_name" content="$station.location Monthly Weather Summary" />
    <meta property="og:title" content="Monthly Weather Summary for $station.location"/>
    #if $Extras.has_key('web_url')
    <meta property="og:url" content="$Extras.web_url/month.html"/>
    #end if
    <meta property="og:description" content="Monthly Weather Summary for $station.location Weather Station. This web site is powered by WeeWX" />
    <meta property="og:type" content="website" />
    <!-- FavIcons -->
    <link rel="icon" href="favicon.ico" type="image/png">
    <link rel="apple-touch-icon" href="touch-icon.png"/>
        
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Font Awesome Icon links -->
   
    <!-- Free license -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.3.0/css/all.css" crossorigin="anonymous">

    <!-- Script -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/checkdiff.js"></script>

  </head>
  <body>
    <header>
      <div class="container-fix" >
        <div class="h-left" >
          <h1><i class="fa-solid fa-cloud" ></i> $station.location </h1>
          <p>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2] | $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2] | $station.altitude | <a href="https://www.google.com/maps/?q=$station.latitude[0]&deg;%20$station.latitude[1]%20$station.latitude[2],$station.longitude[0]&deg;%20$station.longitude[1]%20$station.longitude[2]" target="_blank" ><i class="fa-solid fa-location-dot" ></i> Show on map</a></p>
          <h2>Monthly Weather Summary</h2>
          <p><i class="fa-solid fa-clock" ></i> $current.dateTime $current.dateTime.format("%Z")</p>
          <p id="freshweather" class="m-orange"></p>
          <script>
            window.onload = checkDiff("$current.dateTime ($current.dateTime.format('%Z'))");
          </script>
        </div>
        <div class="h-right" >
          <table>
            <tr>
              <td><b>Station:</b></td>
              <td>$station.hardware</td>
            </tr>
            <tr>
              <td><b>Software:</b></td>
              <td><a href="https://weewx.com/" target="_blank" >WeeWX v$station.version</a></td>
            </tr>
            <tr>
              <td><b>Weewx uptime:</b></td>
              <td>$station.uptime</td>
            </tr>
            <tr>
              <td><b>Server uptime:</b></td>
              <td>$station.os_uptime</td>
            </tr>
          </table>
        </div>
        <nav>
          <ul class="topnav" id="myTopnav">
            <li class="icon"><a href="javascript:void(0);" onclick="myFunction()"><i class="fa-solid fa-bars" ></i></a></li>
            <li><a href="index.html" >Current</a></li>
            <li><a href="week.html" >Week</a></li>
            <li class="active"><a href="month.html" >Month</a></li>
            <li><a href="year.html" >Year</a></li>
            <li><a href="summary.html" >Summaries</a></li>
            <li><a href="about.html" >About</a></li>
            <li><a href="RSS/weewx_rss.xml" ><i class="fa-solid fa-rss" ></i></a></li>
            #if $Extras.has_key('twitter_url')
            <li><a href=$Extras.twitter_url><i class="fa-brands fa-twitter" ></i></a></li>
            #end if
          </ul>
        </nav>
      </div>
    </header>
    <div class="main" >
      <div class="container" >
        <div class="left" >
          <div class="card" >
            <h1><i class="fa-regular fa-calendar-days m-orange" ></i> This Month</h1>
            <table class="tablespacer">
              <tr>
                <td>High Temperature</td>
                <td>$month.outTemp.max</td>
                <td>$month.outTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Temperature</td>
                <td>$month.outTemp.min</td>
                <td>$month.outTemp.mintime</td>
              </tr>
              <tr>
                <td>High Heat Index</td>
                <td>$month.heatindex.max</td>
                <td>$month.heatindex.maxtime</td>
              </tr>
              <tr>
                <td>Low Wind Chill</td>
                <td>$month.windchill.min</td>
                <td>$month.windchill.mintime</td>
              </tr>
              <tr>
                <td>High Dewpoint</td>
                <td>$month.dewpoint.max</td>
                <td>$month.dewpoint.maxtime</td>
              </tr>
              <tr>
                <td>Low Dewpoint</td>
                <td>$month.dewpoint.min</td>
                <td>$month.dewpoint.mintime</td>
              </tr>
              <tr>
                <td>High Humidity</td>
                <td>$month.outHumidity.max</td>
                <td>$month.outHumidity.maxtime</td>
              </tr>
              <tr>
                <td>Low Humidity</td>
                <td>$month.outHumidity.min</td>
                <td>$month.outHumidity.mintime</td>
              </tr>
              <tr>
                <td>High Barometer</td>
                <td>$month.barometer.max</td>
                <td>$month.barometer.maxtime</td>
              </tr>
              <tr>
                <td>Low Barometer</td>
                <td>$month.barometer.min</td>
                <td>$month.barometer.mintime</td>
              </tr>
              <tr>
                <td>Rain Total</td>
                <td>$month.rain.sum</td>
                <td></td>
              </tr>
              <tr>
                <td>High Rain Rate</td>
                <td>$month.rainRate.max</td>
                <td>$month.rainRate.maxtime</td>
              </tr>
              <tr>
                <td>High Wind Speed</td>
                <td>$month.wind.max <br>$month.wind.gustdir</td>
                <td>$month.wind.maxtime</td>
              </tr>
              <tr>
                <td>Average Wind</td>
                <td>$month.wind.avg</td>
                <td></td>
              </tr>
              <tr>
                <td>RMS Wind</td>
                <td>$month.wind.rms</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Speed</td>
                <td>$month.wind.vecavg</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Direction</td>
                <td>$month.wind.vecdir</td>
                <td></td>
              </tr>
              #if $month.inTemp.has_data
              <tr>
                <td>High Inside Temperature</td>
                <td>$month.inTemp.max</td>
                <td>$month.inTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Inside Temperature</td>
                <td>$month.inTemp.min</td>
                <td>$month.inTemp.mintime</td>
              </tr>
              #end if
              #if $month.extraTemp1.has_data
              <tr>
                <td>High Pond Temp</td>
                <td>$month.extraTemp1.max</td>
                <td>$month.extraTemp1.maxtime</td>
              </tr>
              <tr>
                <td>Low Pond Temp</td>
                <td>$month.extraTemp1.min</td>
                <td>$month.extraTemp1.mintime</td>
              </tr>
              #end if
              #if $month.UV.has_data
              <tr>
                <td>High UV Index</td>
                <td>$month.UV.max</td>
                <td>$month.UV.maxtime</td>
              </tr>
              #end if
              #if $month.ET.has_data and $month.ET.sum.raw > 0.0
              <tr>
                <td>High Evapotranspiration</td>
                <td>$month.ET.max.format(format_string="%.5f")</td>
                <td>$month.ET.maxtime</td>
              </tr>
              <tr>
                <td>Evapotranspiration Total</td>
                <td>$month.ET.sum</td>
                <td></td>
              </tr>
              #end if
              #if $month.radiation.has_data
              <tr>
                <td>High Radiation</td>
                <td>$month.radiation.max</td>
                <td>$month.radiation.maxtime</td>
              </tr>
              #end if
              #if $month.illuminance.has_data
              <tr>
                <td>High Brightness</td>
                <td>$month.illuminance.max</td>
                <td>$month.illuminance.maxtime</td>
              </tr>
              #end if
              #if $month.lightning_strike_count.has_data
              <tr>
                <td>Max Lightning Day</td>
                <td>$month.lightning_strike_count.max</td>
                <td>$month.lightning_strike_count.maxtime</td>
              </tr>
              <tr>
                <td>Lightning Total</td>
                <td>$month.lightning_strike_count.sum</td>
                <td></td>
              </tr>
              #end if
            </table>
          </div>
          #if $month($months_ago=12).outTemp.max.string != "   N/A"
          <div class="card" >
            <h1><i class="fa-regular fa-calendar-days m-orange" ></i> Last $month($months_ago=12).dateTime.format("%B %Y")</h1>
            <table class="tablespacer">
              <tr>
                <td>High Temperature</td>
                <td>$month($months_ago=12).outTemp.max</td>
                <td>$month($months_ago=12).outTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Temperature</td>
                <td>$month($months_ago=12).outTemp.min</td>
                <td>$month($months_ago=12).outTemp.mintime</td>
              </tr>
              <tr>
                <td>High Heat Index</td>
                <td>$month($months_ago=12).heatindex.max</td>
                <td>$month($months_ago=12).heatindex.maxtime</td>
              </tr>
              <tr>
                <td>Low Wind Chill</td>
                <td>$month($months_ago=12).windchill.min</td>
                <td>$month($months_ago=12).windchill.mintime</td>
              </tr>
              <tr>
                <td>High Dewpoint</td>
                <td>$month($months_ago=12).dewpoint.max</td>
                <td>$month($months_ago=12).dewpoint.maxtime</td>
              </tr>
              <tr>
                <td>Low Dewpoint</td>
                <td>$month($months_ago=12).dewpoint.min</td>
                <td>$month($months_ago=12).dewpoint.mintime</td>
              </tr>
              <tr>
                <td>High Humidity</td>
                <td>$month($months_ago=12).outHumidity.max</td>
                <td>$month($months_ago=12).outHumidity.maxtime</td>
              </tr>
              <tr>
                <td>Low Humidity</td>
                <td>$month($months_ago=12).outHumidity.min</td>
                <td>$month($months_ago=12).outHumidity.mintime</td>
              </tr>
              <tr>
                <td>High Barometer</td>
                <td>$month($months_ago=12).barometer.max</td>
                <td>$month($months_ago=12).barometer.maxtime</td>
              </tr>
              <tr>
                <td>Low Barometer</td>
                <td>$month($months_ago=12).barometer.min</td>
                <td>$month($months_ago=12).barometer.mintime</td>
              </tr>
              <tr>
                <td>Rain Total</td>
                <td>$month($months_ago=12).rain.sum</td>
                <td></td>
              </tr>
              <tr>
                <td>High Rain Rate</td>
                <td>$month($months_ago=12).rainRate.max</td>
                <td>$month($months_ago=12).rainRate.maxtime</td>
              </tr>
              <tr>
                <td>High Wind Speed</td>
                <td>$month($months_ago=12).wind.max <br>$month($months_ago=12).wind.gustdir</td>
                <td>$month($months_ago=12).wind.maxtime</td>
              </tr>
              <tr>
                <td>Average Wind</td>
                <td>$month($months_ago=12).wind.avg</td>
                <td></td>
              </tr>
              <tr>
                <td>RMS Wind</td>
                <td>$month($months_ago=12).wind.rms</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Speed</td>
                <td>$month($months_ago=12).wind.vecavg</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Direction</td>
                <td>$month($months_ago=12).wind.vecdir</td>
                <td></td>
              </tr>
              #if $month($months_ago=12).inTemp.has_data
              <tr>
                <td>High Inside Temperature</td>
                <td>$month($months_ago=12).inTemp.max</td>
                <td>$month($months_ago=12).inTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Inside Temperature</td>
                <td>$month($months_ago=12).inTemp.min</td>
                <td>$month($months_ago=12).inTemp.mintime</td>
              </tr>
              #end if
              #if $month($months_ago=12).extraTemp1.has_data
              <tr>
                <td>High Pond Temp</td>
                <td>$month($months_ago=12).extraTemp1.max</td>
                <td>$month($months_ago=12).extraTemp1.maxtime</td>
              </tr>
              <tr>
                <td>Low Pond Temp</td>
                <td>$month($months_ago=12).extraTemp1.min</td>
                <td>$month($months_ago=12).extraTemp1.mintime</td>
              </tr>
              #end if
              #if $month($months_ago=12).UV.has_data
              <tr>
                <td>High UV Index</td>
                <td>$month($months_ago=12).UV.max</td>
                <td>$month($months_ago=12).UV.maxtime</td>
              </tr>
              #end if
              #if $month($months_ago=12).ET.has_data and $month($months_ago=12).ET.sum.raw > 0.0
              <tr>
                <td>High Evapotranspiration</td>
                <td>$month($months_ago=12).ET.max.format(format_string="%.5f")</td>
                <td>$month($months_ago=12).ET.maxtime</td>
              </tr>
              <tr>
                <td>Evapotranspiration Total</td>
                <td>$month($months_ago=12).ET.sum</td>
                <td></td>
              </tr>
              #end if
              #if $month($months_ago=12).radiation.has_data
              <tr>
                <td>High Radiation</td>
                <td>$month($months_ago=12).radiation.max</td>
                <td>$month($months_ago=12).radiation.maxtime</td>
              </tr>
              #end if
              #if $month($months_ago=12).illuminance.has_data
              <tr>
                <td>High Brightness</td>
                <td>$month($months_ago=12).illuminance.max</td>
                <td>$month($months_ago=12).illuminance.maxtime</td>
              </tr>
              #end if
              #if $month($months_ago=12).lightning_strike_count.has_data
              <tr>
                <td>Max Lightning Day</td>
                <td>$month($months_ago=12).lightning_strike_count.max</td>
                <td>$month($months_ago=12).lightning_strike_count.maxtime</td>
              </tr>
              <tr>
                <td>Lightning Total</td>
                <td>$month($months_ago=12).lightning_strike_count.sum</td>
                <td></td>
              </tr>
              #end if
            </table>
          </div>
        #end if
        #if $month($months_ago=1).outTemp.max.string != "   N/A"
          <div class="card" >
            <h1><i class="fa-regular fa-calendar-days m-orange" ></i> Last Month ($month($months_ago=1).dateTime.format("%B %Y"))</h1>
            <table class="tablespacer">
              <tr>
                <td>High Temperature</td>
                <td>$month($months_ago=1).outTemp.max</td>
                <td>$month($months_ago=1).outTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Temperature</td>
                <td>$month($months_ago=1).outTemp.min</td>
                <td>$month($months_ago=1).outTemp.mintime</td>
              </tr>
              <tr>
                <td>High Heat Index</td>
                <td>$month($months_ago=1).heatindex.max</td>
                <td>$month($months_ago=1).heatindex.maxtime</td>
              </tr>
              <tr>
                <td>Low Wind Chill</td>
                <td>$month($months_ago=1).windchill.min</td>
                <td>$month($months_ago=1).windchill.mintime</td>
              </tr>
              <tr>
                <td>High Dewpoint</td>
                <td>$month($months_ago=1).dewpoint.max</td>
                <td>$month($months_ago=1).dewpoint.maxtime</td>
              </tr>
              <tr>
                <td>Low Dewpoint</td>
                <td>$month($months_ago=1).dewpoint.min</td>
                <td>$month($months_ago=1).dewpoint.mintime</td>
              </tr>
              <tr>
                <td>High Humidity</td>
                <td>$month($months_ago=1).outHumidity.max</td>
                <td>$month($months_ago=1).outHumidity.maxtime</td>
              </tr>
              <tr>
                <td>Low Humidity</td>
                <td>$month($months_ago=1).outHumidity.min</td>
                <td>$month($months_ago=1).outHumidity.mintime</td>
              </tr>
              <tr>
                <td>High Barometer</td>
                <td>$month($months_ago=1).barometer.max</td>
                <td>$month($months_ago=1).barometer.maxtime</td>
              </tr>
              <tr>
                <td>Low Barometer</td>
                <td>$month($months_ago=1).barometer.min</td>
                <td>$month($months_ago=1).barometer.mintime</td>
              </tr>
              <tr>
                <td>Rain Total</td>
                <td>$month($months_ago=1).rain.sum</td>
                <td></td>
              </tr>
              <tr>
                <td>High Rain Rate</td>
                <td>$month($months_ago=1).rainRate.max</td>
                <td>$month($months_ago=1).rainRate.maxtime</td>
              </tr>
              <tr>
                <td>High Wind Speed</td>
                <td>$month($months_ago=1).wind.max <br>$month($months_ago=1).wind.gustdir</td>
                <td>$month($months_ago=1).wind.maxtime</td>
              </tr>
              <tr>
                <td>Average Wind</td>
                <td>$month($months_ago=1).wind.avg</td>
                <td></td>
              </tr>
              <tr>
                <td>RMS Wind</td>
                <td>$month($months_ago=1).wind.rms</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Speed</td>
                <td>$month($months_ago=1).wind.vecavg</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Direction</td>
                <td>$month($months_ago=1).wind.vecdir</td>
                <td></td>
              </tr>
              #if $month($months_ago=1).inTemp.has_data
              <tr>
                <td>High Inside Temperature</td>
                <td>$month($months_ago=1).inTemp.max</td>
                <td>$month($months_ago=1).inTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Inside Temperature</td>
                <td>$month($months_ago=1).inTemp.min</td>
                <td>$month($months_ago=1).inTemp.mintime</td>
              </tr>
              #end if
              #if $month($months_ago=1).extraTemp1.has_data
              <tr>
                <td>High Pond Temp</td>
                <td>$month($months_ago=1).extraTemp1.max</td>
                <td>$month($months_ago=1).extraTemp1.maxtime</td>
              </tr>
              <tr>
                <td>Low Pond Temp</td>
                <td>$month($months_ago=1).extraTemp1.min</td>
                <td>$month($months_ago=1).extraTemp1.mintime</td>
              </tr>
              #end if
              #if $month($months_ago=1).UV.has_data
              <tr>
                <td>High UV Index</td>
                <td>$month($months_ago=1).UV.max</td>
                <td>$month($months_ago=1).UV.maxtime</td>
              </tr>
              #end if
              #if $month($months_ago=1).ET.has_data and $month($months_ago=12).ET.sum.raw > 0.0
              <tr>
                <td>High Evapotranspiration</td>
                <td>$month($months_ago=1).ET.max.format(format_string="%.5f")</td>
                <td>$month($months_ago=1).ET.maxtime</td>
              </tr>
              <tr>
                <td>Evapotranspiration Total</td>
                <td>$month($months_ago=1).ET.sum</td>
                <td></td>
              </tr>
              #end if
              #if $month($months_ago=1).radiation.has_data
              <tr>
                <td>High Radiation</td>
                <td>$month($months_ago=1).radiation.max</td>
                <td>$month($months_ago=1).radiation.maxtime</td>
              </tr>
              #end if
              #if $month($months_ago=1).illuminance.has_data
              <tr>
                <td>High Brightness</td>
                <td>$month($months_ago=1).illuminance.max</td>
                <td>$month($months_ago=1).illuminance.maxtime</td>
              </tr>
              #end if
              #if $month($months_ago=1).lightning_strike_count.has_data
              <tr>
                <td>Max Lightning Day</td>
                <td>$month($months_ago=1).lightning_strike_count.max</td>
                <td>$month($months_ago=1).lightning_strike_count.maxtime</td>
              </tr>
              <tr>
                <td>Lightning Total</td>
                <td>$month($months_ago=1).lightning_strike_count.sum</td>
                <td></td>
              </tr>
              #end if
            </table>
          </div>
          #end if
        </div>
        <div class="right" >
          <div class="card cc graphs" >
            <h1><i class="fa-solid fa-chart-line m-gruen" ></i> Monthly Statistics and Plots</h1>
            <img src="monthtempdew.png" alt="temperatures" />
            <img src="monthrain.png" alt="rain" />
            <img src="monthwind.png" alt="wind" />
            <img src="monthwinddir.png" alt="Hi Wind" />
            <img src="monthwindvec.png" alt="Wind Vector" />
            <img src="monthbarometer.png" alt="barometer"/>
            #if $month.inTemp.has_data
            <img src="monthinside.png" alt="Inside" />
            #end if
            <img src="monthinhumid.png" alt="Inside/Outside Humidity" />
            #if $month.UV.has_data
            <img src="monthuv.png" alt="UV Index" />
            #end if
            #if $month.radiation.has_data
            <img src="monthradiation.png" alt="Radiation" />
            #end if
	          #if $month.lightning_strike_count.has_data
            <img src="monthlightning.png" alt="Lightning" />
            #end if
	          #if $month.windBatteryStatus.has_data and $month.outTempBatteryStatus.has_data
            <img src="monthbattery.png" alt="battery"/>
            #end if
            #if $month.rxCheckPercent.has_data
            <img src="monthrx.png" alt="month rx percent"/>
            #end if
            #if $month.extraTemp1.has_data
            <img src="monthpond.png" alt="Pond Temperatures" />
            #end if
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fix">
        <div style="text-align:center">
          #if $Extras.has_key('you')
          <i class="fa-solid fa-dragon"> </i><a href=mailto:$Extras.email> $Extras.you</a> 
          #end if
          &sdot;
          Copyright <i class="fa-regular fa-copyright"></i> $latest.dateTime.format("%Y") 
          <br>
          Sofaskin by <a href="https://neoground.com">Neoground</a>
          &sdot;
          CW9009 Version by <a href="https://www.centuryfarmweather.com">Century Farm Weather</a>
          &sdot;
          Powered by<i class="fa-solid fa-cog fa-spin fa-fw" aria-hidden="true"></i><a href="https://weewx.com/" target="_blank">WeeWX</a> 
        </div>
      </div>
    </footer>
    #if $Extras.has_key('googleAnalyticsId')
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=$Extras.googleAnalyticsId"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '$Extras.googleAnalyticsId');
    </script>
    #end if
    <!-- Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon -->
    <script>
      function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
              x.className += " responsive";
          } else {
              x.className = "topnav";
          }
      }
    </script>
  </body>
</html>
