<!DOCTYPE html>
<html class="no-js">
  <head itemscope itemtype="http://schema.org/Website">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Refresh" content="180">
    #if $Extras.has_key('cwop')
    <meta name="description" content="$station.location Weather Station ($Extras.cwop) - weather web site powered by WeeWX">
    #else
    <meta name="description" content="$station.location Weather Station - weather web site powered by WeeWX">
    #end if
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    #if $Extras.has_key('web_url')
    <link href="$Extras.web_url/week.html" itemprop="url"/>
    #end if
    <title itemprop="name">$station.location Weekly Weather Summary</title>
    <!-- Open Graph -->
    <meta property="og:site_name" content="$station.location Weekly Weather Summary" />
    <meta property="og:title" content="Weekly Weather Summary"/>
    #if $Extras.has_key('web_url')
    <meta property="og:url" content="$Extras.web_url/week.html"/>
    #end if
    <meta property="og:description" content="Weekly Weather Summary for $station.location - weather web site powered by WeeWX" />
    <meta property="og:type" content="website" />
    <!-- Icons -->
    <link rel="icon" href="favicon.ico" type="image/png">
    <link rel="apple-touch-icon" href="touch-icon.png"/>
    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <!-- Skripte -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/checkdiff.js"></script>
  </head>
  <body>
    <header>
      <div class="container-fix" >
        <div class="h-left" >
          <h1><i class="fa fa-cloud" ></i> $station.location </h1>
          <p>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2] | $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2] | $station.altitude | <a href="https://www.google.com/maps/?q=$station.latitude[0]&deg;%20$station.latitude[1]%20$station.latitude[2],$station.longitude[0]&deg;%20$station.longitude[1]%20$station.longitude[2]" target="_blank" ><i class="fa fa-map-marker" ></i> Show on map</a></p>
          <h2>Weekly Weather Summary</h2>
          <p><i class="fa fa-clock-o" ></i> $current.dateTime $current.dateTime.format("%Z")</p>
          <p id="freshweather" class="m-orange"></p>
          <script>
            window.onload = checkDiff("$current.dateTime ($current.dateTime.format('%Z'))");
          </script>
        </div>
        <div class="h-right">
          <table>
            <tr>
              <td><b>Station:</b></td>
              <td>$station.hardware</td>
            </tr>
            <tr>
              <td><b>Software:</b></td>
              <td><a href="http://weewx.com/" target="_blank" >WeeWX v$station.version</a></td>
            </tr>
            <tr>
              <td><b>Weewx uptime:</b></td>
              <td>$station.uptime</td>
            </tr>
            <tr>
              <td><b>Server uptime:</b></td>
              <td>$station.os_uptime</td>
            </tr>
            #if $Extras.has_key('cwop') and $Extras.has_key('crahs')
            <tr>
              <td><b>Station IDs:</b></td>
              <td><a href="$Extras.cwop_url" target="_blank">$Extras.cwop</a> | <a href="$Extras.crahs_url" target="_blank">$Extras.crahs</a></td>
            </tr>
            #end if
          </table>
        </div>
        <nav>
          <ul class="topnav" id="myTopnav">
            <li class="icon"><a href="javascript:void(0);" onclick="myFunction()"><i class="fa fa-bars" ></i></a></li>
            <li><a href="/" >Current</a></li>
            <li class="active" ><a href="week.html" >Week</a></li>
            <li><a href="month.html" >Month</a></li>
            <li><a href="year.html" >Year</a></li>
            <li><a href="summary.html" >Summaries</a></li>
            <li><a href="station.html" >Station</a></li>
            <li><a href="RSS/weewx_rss.xml" ><i class="fa fa-rss" ></i></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="main" >
      <div class="container" >
        <div class="left" >
          <div class="card" >
            <h1><i class="fa fa-cloud m-grau" ></i> This Week</h1>
            <table class="tablespacer">
              <tr>
                <td>High Temperature</td>
                <td>$week.outTemp.max</td>
                <td>$week.outTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Temperature</td>
                <td>$week.outTemp.min</td>
                <td>$week.outTemp.mintime</td>
              </tr>
              <tr>
                <td>High Heat Index</td>
                <td>$week.heatindex.max</td>
                <td>$week.heatindex.maxtime</td>
              </tr>
              <tr>
                <td>Low Wind Chill</td>
                <td>$week.windchill.min</td>
                <td>$week.windchill.mintime</td>
              </tr>
              <tr>
                <td>High Dewpoint</td>
                <td>$week.dewpoint.max</td>
                <td>$week.dewpoint.maxtime</td>
              </tr>
              <tr>
                <td>Low Dewpoint</td>
                <td>$week.dewpoint.min</td>
                <td>$week.dewpoint.mintime</td>
              </tr>
              <tr>
                <td>High Humidity</td>
                <td>$week.outHumidity.max</td>
                <td>$week.outHumidity.maxtime</td>
              </tr>
              <tr>
                <td>Low Humidity</td>
                <td>$week.outHumidity.min</td>
                <td>$week.outHumidity.mintime</td>
              </tr>
              <tr>
                <td>High Barometer</td>
                <td>$week.barometer.max</td>
                <td>$week.barometer.maxtime</td>
              </tr>
              <tr>
                <td>Low Barometer</td>
                <td>$week.barometer.min</td>
                <td>$week.barometer.mintime</td>
              </tr>
              <tr>
                <td>Rain Total</td>
                <td>$week.rain.sum</td>
                <td></td>
              </tr>
              <tr>
                <td>High Rain Rate</td>
                <td>$week.rainRate.max</td>
                <td>$week.rainRate.maxtime</td>
              </tr>
              <tr>
                <td>High Wind Speed</td>
                <td>$week.wind.max $week.wind.gustdir</td>
                <td>$week.wind.maxtime</td>
              </tr>
              <tr>
                <td>Average Wind</td>
                <td>$week.wind.avg</td>
                <td></td>
              </tr>
              <tr>
                <td>RMS Wind</td>
                <td>$week.wind.rms</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Speed</td>
                <td>$week.wind.vecavg</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Direction</td>
                <td>$week.wind.vecdir</td>
                <td></td>
              </tr>
              <tr>
                <td>High Inside Temperature</td>
                <td>$week.inTemp.max</td>
                <td>$week.inTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Inside Temperature</td>
                <td>$week.inTemp.min</td>
                <td>$week.inTemp.mintime</td>
              </tr>
              #if $week.extraTemp1.has_data
              <tr>
                <td>High Pond Temp</td>
                <td>$week.extraTemp1.max</td>
                <td>$week.extraTemp1.maxtime</td>
              </tr>
              <tr>
                <td>Low Pond Temp</td>
                <td>$week.extraTemp1.min</td>
                <td>$week.extraTemp1.mintime</td>
              </tr>
              #end if
              #if $week.UV.has_data
              <tr>
                <td>High UV</td>
                <td>$week.UV.max</td>
                <td>$week.UV.maxtime</td>
              </tr>
              <tr>
                <td>Low UV</td>
                <td>$week.UV.min</td>
                <td>$week.UV.mintime</td>
              </tr>
              #end if
              #if $week.ET.has_data and $week.ET.sum.raw >0.0
              <tr>
                <td>High ET</td>
                <td>$week.ET.max</td>
                <td>$week.ET.maxtime</td>
              </tr>
              <tr>
                <td>Low ET</td>
                <td>$week.ET.min</td>
                <td>$week.ET.mintime</td>
              </tr>
              #end if
              #if $week.radiation.has_data
              <tr>
                <td>High Radiation</td>
                <td>$week.radiation.max</td>
                <td>$week.radiation.maxtime</td>
              </tr>
              <tr>
                <td>Low Radiation</td>
                <td>$week.radiation.min</td>
                <td>$week.radiation.mintime</td>
              </tr>
              #end if
            </table>
          </div>
          <div class="card" >
            <h1><i class="fa fa-calendar m-orange" ></i> Yesterday ($yesterday.dateTime.format("%d-%b")) </h1>
            <table class="tablespacer">
              <tr>
                <td>High Temperature</td>
                <td>$yesterday.outTemp.max</td>
                <td>$yesterday.outTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Temperature</td>
                <td>$yesterday.outTemp.min</td>
                <td>$yesterday.outTemp.mintime</td>
              </tr>
              #if $yesterday.heatindex.max.raw >79.0
              <tr>
                <td>High Heat Index</td>
                <td>$yesterday.heatindex.max</td>
                <td>$yesterday.heatindex.maxtime</td>
              </tr>
              #end if
              #if $yesterday.windchill.min <10
              <tr>
                <td>Low Wind Chill</td>
                <td>$yesterday.windchill.min</td>
                <td>$yesterday.windchill.mintime</td>
              </tr>
              #end if
              <tr>
                <td>High Dewpoint</td>
                <td>$yesterday.dewpoint.max</td>
                <td>$yesterday.dewpoint.maxtime</td>
              </tr>
              <tr>
                <td>Low Dewpoint</td>
                <td>$yesterday.dewpoint.min</td>
                <td>$yesterday.dewpoint.mintime</td>
              </tr>
              <tr>
                <td>High Humidity</td>
                <td>$yesterday.outHumidity.max</td>
                <td>$yesterday.outHumidity.maxtime</td>
              </tr>
              <tr>
                <td>Low Humidity</td>
                <td>$yesterday.outHumidity.min</td>
                <td>$yesterday.outHumidity.mintime</td>
              </tr>
              <tr>
                <td>High Barometer</td>
                <td>$yesterday.barometer.max</td>
                <td>$yesterday.barometer.maxtime</td>
              </tr>
              <tr>
                <td>Low Barometer</td>
                <td>$yesterday.barometer.min</td>
                <td>$yesterday.barometer.mintime</td>
              </tr>
              <tr>
                <td>Rain</td>
                <td>$yesterday.rain.sum</td>
                <td></td>
              </tr>
              <tr>
                <td>High Rain Rate</td>
                <td>$yesterday.rainRate.max</td>
                <td>$yesterday.rainRate.maxtime</td>
              </tr>
              <tr>
                <td>High Wind</td>
                <td>$yesterday.wind.max $day.wind.gustdir</td>
                <td>$yesterday.wind.maxtime</td>
              </tr>
              <tr>
                <td>Average Wind</td>
                <td>$yesterday.wind.avg</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Direction</td>
                <td>$yesterday.wind.vecdir</td>
                <td></td>
              </tr>
              <tr>
                <td>High Inside Temperature</td>
                <td>$yesterday.inTemp.max</td>
                <td>$yesterday.inTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Inside Temperature</td>
                <td>$yesterday.inTemp.min</td>
                <td>$yesterday.inTemp.mintime</td>
              </tr>
              #if $day.extraTemp1.has_data
              <tr>
                <td>High Pond Temp</td>
                <td>$yesterday.extraTemp1.max</td>
                <td>$yesterday.extraTemp1.maxtime</td>
              </tr>
              <tr>
                <td>Low Pond Temp</td>
                <td>$yesterday.extraTemp1.min</td>
                <td>$yesterday.extraTemp1.mintime</td>
              </tr>
              #end if
              #if $yesterday.UV.has_data
              <tr>
                <td>High UV</td>
                <td>$yesterday.UV.max</td>
                <td>$yesterday.UV.maxtime</td>
              </tr>
              <tr>
                <td>Low UV</td>
                <td>$yesterday.UV.min</td>
                <td>$yesterday.UV.mintime</td>
              </tr>
              #end if
              #if $yesterday.ET.has_data and $yesterday.ET.sum.raw >0.0
              <tr>
                <td>High ET</td>
                <td>$yesterday.ET.max</td>
                <td>$yesterday.ET.maxtime</td>
              </tr>
              <tr>
                <td>Low ET</td>
                <td>$yesterday.ET.min</td>
                <td>$yesterday.ET.mintime</td>
              </tr>
              #end if
              #if $day.radiation.has_data
              <tr>
                <td>High Radiation</td>
                <td>$yesterday.radiation.max</td>
                <td>$yesterday.radiation.maxtime</td>
              </tr>
              <tr>
                <td>Low Radiation</td>
                <td>$yesterday.radiation.min</td>
                <td>$yesterday.radiation.mintime</td>
              </tr>
              #end if
            </table>
          </div>
          <div class="card" >
            <h1><i class="fa fa-calendar m-orange" ></i> This Month</h1>
            <table class="tablespacer">
              <tr>
                <td>High Temperature</td>
                <td>$month.outTemp.max</td>
                <td>$month.outTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Temperature</td>
                <td>$month.outTemp.min</td>
                <td>$month.outTemp.mintime</td>
              </tr>
              <tr>
                <td>High Heat Index</td>
                <td>$month.heatindex.max</td>
                <td>$month.heatindex.maxtime</td>
              </tr>
              <tr>
                <td>Low Wind Chill</td>
                <td>$month.windchill.min</td>
                <td>$month.windchill.mintime</td>
              </tr>
              <tr>
                <td>High Dewpoint</td>
                <td>$month.dewpoint.max</td>
                <td>$month.dewpoint.maxtime</td>
              </tr>
              <tr>
                <td>Low Dewpoint</td>
                <td>$month.dewpoint.min</td>
                <td>$month.dewpoint.mintime</td>
              </tr>
              <tr>
                <td>High Humidity</td>
                <td>$month.outHumidity.max</td>
                <td>$month.outHumidity.maxtime</td>
              </tr>
              <tr>
                <td>Low Humidity</td>
                <td>$month.outHumidity.min</td>
                <td>$month.outHumidity.mintime</td>
              </tr>
              <tr>
                <td>High Barometer</td>
                <td>$month.barometer.max</td>
                <td>$month.barometer.maxtime</td>
              </tr>
              <tr>
                <td>Low Barometer</td>
                <td>$month.barometer.min</td>
                <td>$month.barometer.mintime</td>
              </tr>
              <tr>
                <td>Rain Total</td>
                <td>$month.rain.sum</td>
                <td></td>
              </tr>
              <tr>
                <td>High Rain Rate</td>
                <td>$month.rainRate.max</td>
                <td>$month.rainRate.maxtime</td>
              </tr>
              <tr>
                <td>High Wind Speed</td>
                <td>$month.wind.max <br>$month.wind.gustdir</td>
                <td>$month.wind.maxtime</td>
              </tr>
              <tr>
                <td>Average Wind</td>
                <td>$month.wind.avg</td>
                <td></td>
              </tr>
              <tr>
                <td>RMS Wind</td>
                <td>$month.wind.rms</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Speed</td>
                <td>$month.wind.vecavg</td>
                <td></td>
              </tr>
              <tr>
                <td>Vector Average Direction</td>
                <td>$month.wind.vecdir</td>
                <td></td>
              </tr>
              <tr>
                <td>High Inside Temperature</td>
                <td>$month.inTemp.max</td>
                <td>$month.inTemp.maxtime</td>
              </tr>
              <tr>
                <td>Low Inside Temperature</td>
                <td>$month.inTemp.min</td>
                <td>$month.inTemp.mintime</td>
              </tr>
              #if $month.extraTemp1.has_data
              <tr>
                <td>High Pond Temp</td>
                <td>$month.extraTemp1.max</td>
                <td>$month.extraTemp1.maxtime</td>
              </tr>
              <tr>
                <td>Low Pond Temp</td>
                <td>$month.extraTemp1.min</td>
                <td>$month.extraTemp1.mintime</td>
              </tr>
              #end if
              #if $month.UV.has_data
              <tr>
                <td>High UV</td>
                <td>$month.UV.max</td>
                <td>$month.UV.maxtime</td>
              </tr>
              <tr>
                <td>Low UV</td>
                <td>$month.UV.min</td>
                <td>$month.UV.mintime</td>
              </tr>
              #end if
              #if $month.ET.has_data and $month.ET.sum.raw >0.0
              <tr>
                <td>High ET</td>
                <td>$month.ET.max</td>
                <td>$month.ET.maxtime</td>
              </tr>
              <tr>
                <td>Low ET</td>
                <td>$month.ET.min</td>
                <td>$month.ET.mintime</td>
              </tr>
              #end if
              #if $month.radiation.has_data
              <tr>
                <td>High Radiation</td>
                <td>$month.radiation.max</td>
                <td>$month.radiation.maxtime</td>
              </tr>
              <tr>
                <td>Low Radiation</td>
                <td>$month.radiation.min</td>
                <td>$month.radiation.mintime</td>
              </tr>
              #end if
            </table>
          </div>
        </div>
        <div class="right" >
          <div class="card cc graphs" >
            <h1><i class="fa fa-line-chart m-gruen" ></i> Weekly Statistics and Plots</h1>
            <img src="weektempdew.png" alt="temperatures" />
            <img src="weekrain.png" alt="rain" />
            <img src="weekwind.png" alt="wind" />
            <img src="weekwinddir.png" alt="Hi Wind" />
            <img src="weekwindvec.png" alt="Wind Vector" />
            <img src="weektempchill.png" alt="heatchill" />
            <img src="weekbarometer.png" alt="barometer"/>
            <img src="weekinside.png" alt="Inside" />
            <img src="weekinhumid.png" alt="Inside/Outside Humidity" />
            #if $week.UV.has_data
            <img src="weekuv.png" alt="UV index" />
            #end if
            #if $week.radiation.has_data
            <img src="weekradiation.png" alt="Radiation" />
            #end if
            #if $week.UV.has_data
            <img src="weekuv.png" alt="UV Index" />
            #end if
            #if $week.rxCheckPercent.has_data
            <img src="weekrx.png" alt="week rx percent"/>
            #end if
            #if $week.extraTemp1.has_data
            <img src="weekpond.png" alt="Pond Temperatures" />
            #end if
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container-fix">
        <div style="text-align:center">
          #if $Extras.has_key('you')
          <i class="fa fa-pied-piper-pp"> </i><a href=mailto:$Extras.email> $Extras.you</a> 
          #end if
          &sdot;
          Copyright <i class="fa fa-copyright"></i> $latest.dateTime.format("%Y") 
          <br>
          Sofaskin by <a href="http://blauesledersofa.de">Blaues Ledersofa</a>
          &sdot;
          CW9009 Version by <a href="http://cw9009.x10host.com">JDS</a>
          &sdot;
          Powered by<i class="fa fa-cog fa-spin fa-fw" aria-hidden="true"></i><a href="http://weewx.com/" target="_blank">WeeWX</a> 
        </div>
      </div>
    </footer>
    #if $Extras.has_key('googleAnalyticsId')
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', '$Extras.googleAnalyticsId', 'auto');
      ga('send', 'pageview');
    </script>
    #end if
    <!-- Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon -->
    <script>
      function myFunction() {
          var x = document.getElementById("myTopnav");
          if (x.className === "topnav") {
              x.className += " responsive";
          } else {
              x.className = "topnav";
          }
      }
    </script>
  </body>
</html>

